
<style type="text/css">
	.experts-info {
		width: 690px;
		height: 610px;
		margin: 5px 0 0 -15px;
		border: none;
		border-radius: 6px;
		padding-top: 10px;
	}
	.media-list {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
	.media-list img {
		height: 110px;
		width: auto;
		float: left;
		margin: 10px 5px;
	}
	.media-heading {
		margin-top: 15px;
		font-weight: bold;
		color: #dd1144;
	}
	h5 {
		font-size: 4px;
		margin: 1;
	}
	p {
		font-size: 3px;
		margin: 0.9px;
	}
	span {
		/*color: blue;*/
		font-size: 4px;
	}
		/*.media {*/
		/*border-radius: 6px;*/
		/*box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);*/
		/*}*/
		/*#wjh{*/
		/*margin-top: -10px;*/
		/*}*/
</style>


<ul class="media-list" style="text-align: left">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="/subviews/experts/img/zhuolihuan.gif" alt="pic卓丽环">
    </a>
    <div class="media-body">
      <h4 class="media-heading">卓丽环</h4>
      <p><strong>研究方向</strong>：园林植物种质资源、园林植物系统与演化、园林植物应用</p>
      <p><strong>职位</strong>：上海农林职业技术学院党委书记 <span><a href="#">&nbsp;&nbsp;(详细)</a></span></p>
    </div>
  </li>
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="/subviews/experts/img/xudawei.gif" alt="pic许大为">
    </a>
    <div class="media-body">
      <h4 class="media-heading">许大为</h4>
      <p><strong>研究方向</strong>：风景园林规划与设计</p>
      <p><strong>职位</strong>：东北林业大学园林学院院长 <span><a href="#">&nbsp;&nbsp;(详细)</a></span></p>
    </div>
  </li>

  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="/subviews/experts/img/zhouyunwei.gif" alt="pic周蕴薇">
    </a>
    <div class="media-body">
      <h4 class="media-heading">周蕴薇</h4>
      <p><strong>研究方向</strong>：园林植物栽培生理与育种</p>
      <p><strong>职位</strong>：东北林业大学园林学院副院长<span><a href="#">&nbsp;&nbsp;(详细)</a></span></p>
    </div>
  </li>

  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="/subviews/experts/img/yuehua.gif" alt="pic岳桦">
    </a>
    <div class="media-body">
      <h4 class="media-heading">岳桦</h4>
      <p><strong>研究方向</strong>：园林植物资源、园林植物应用</p>
      <p><strong>职位</strong>：东北林业大学园林学院园林专业负责人<span><a href="#">&nbsp;&nbsp;(详细)</a></span></p>
    </div>
  </li>

  <li id="wjh" class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="/subviews/experts/img/wangjinghong.gif" alt="pic王竞红">
    </a>
    <div class="media-body">
      <h4 class="media-heading">王竞红</h4>
      <p><strong>研究方向</strong>：园林植物景观评价、草坪与地被植物园林应用</p>
      <p><strong>职位</strong>：东北林业大学园林学院党总支书记<span><a href="#">&nbsp;&nbsp;(详细)</a></span></p>
    </div>
  </li>

  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="/subviews/experts/img/wangling.gif" alt="pic王玲">
    </a>
    <div class="media-body">
      <h4 class="media-heading">王玲</h4>
      <p><strong>研究方向</strong>：园林植物种质资源</p>
      <p><strong>职位</strong>：东北林业大学园林学院教授<span><a href="#">&nbsp;&nbsp;(详细)</a></span></p>
    </div>
  </li>
</ul>