<% #map_querying PAGE %>
<% #Export localized css/js for this view to the Layout %>
<% content_for :style_links do %>
<% end %>
<% content_for :script_links do %>
<% end %>

<article class="container">
    <section id="id-section-Map" class="row row-section" style="margin-top: -450px;">
      <div class="col-md-7 col-md-offset-2 panel-styles" style="height: 450px;">
        <div id="map" class="map-frame-bg" style="height: 100%; width: 100%">
          <%= render :file => "subviews/map.html.erb", :layout => nil %>
        </div>
      </div>
    </section>
</article>
