@charset "UTF-8";
/*
 *王俊峰的css
 */
#id_login {
  margin-top: 30px;
  font-size: 12px; }
  #id_login p {
    text-align: left;
    font-size: 13px;
    font-family: Microsoft YaHei;
    font-weight: bold; }
  #id_login .inputPassword {
    margin-top: 8px; }
  #id_login .checkbox {
    text-align: left;
    font-size: 1px; }
  #id_login .btn-primary {
    margin-right: 15px; }
  #id_login .grp_btn {
    max-height: 40%;
    width: auto;
    padding: 0;
    margin: 0; }

#id_contact {
  margin-top: 50px;
  text-align: left;
  font-family: "Microsoft YaHei"; }
  #id_contact img.zixun {
    height: 26px;
    width: auto; }
  #id_contact img.phone {
    height: 43px;
    width: auto;
    margin: -12px 0 0 5px; }
  #id_contact p {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px; }
  #id_contact p.firstline {
    margin-top: 20px; }
  #id_contact p img.qq_img {
    height: 25px;
    width: auto;
    margin: -6px 0 0 3px; }

#title_cn {
  text-align: center;
  margin: 30px 0 0 10px;
  font-size: 20px;
  font-weight: bold; }

#title_en {
  text-align: center;
  margin: 0px 0 20px 10px;
  font-size: 13px;
  font-weight: bold; }

.intro_content p {
  text-align: left;
  text-indent: 2em;
  font-size: 14px;
  line-height: 18pt; }

article .bkimg {
  background-image: image-url("layouts/plant/background.jpg");
  background-size: contain; }

.shadow {
  width: 100%;
  height: 150px;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  border-top: 1px solid #e0e0e0;
  z-index: -999; }

.text-center {
  text-align: center; }

.panel-styles {
  background: rgba(255, 255, 255, 0.9);
  color: #332;
  padding: 0px;
  margin-bottom: 80px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, 0.25), 0px 20px 70px 8px rgba(0, 0, 0, 0.05); }

.row-section {
  position: relative;
  -webkit-animation: anim-panel-in 1s linear 0 1; }

article header {
  height: 300px;
  background: #e5e5e5 image-url("layouts/plant/header-bg.png");
  background-size: contain; }

article {
  margin-top: 51px; }

.banner {
  position: relative;
  margin-top: 50px;
  background: image-url("layouts/plant/header-bg.png");
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg1.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg1.png', sizingMethod='scale')";
  color: #fff;
  height: 500px;
  margin-bottom: 0;
  -webkit-animation: anim_top2bottom 2s ease-out 0 1 forwards; }

img.sitelogo {
  max-width: 290px;
  margin-top: 5px;
  margin-bottom: 10px; }

.no-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

a:not(.btn) {
  color: #00699E;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  transition: 300ms; }

a:hover:not(.btn),
a:active:not(.btn) {
  color: #9E0000;
  text-decoration: none;
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

.nav a {
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  transition: 500ms; }

body {
  background: #e5e5e5 image-url("layouts/plant/background.jpg");
  overflow-x: hidden;
  -webkit-user-select: text; }

/* = 动画 Animations
----------------------------------------------- */
@-webkit-keyframes anim_top2bottom {
  0% {
    -webkit-transform: translateY(-50px); }

  80% {
    -webkit-transform: translateY(-5px); }

  90% {
    -webkit-transform: translateY(5px); }

  100% {
    -webkit-transform: translateY(0); } }
@-webkit-keyframes anim-panel-in {
  0% {
    -webkit-filter: grayscale(0.8) blur(3px);
    -webkit-transform: translateY(80px); }

  70% {
    -webkit-filter: grayscale(0.3) blur(1px);
    -webkit-transform: translateY(20px); }

  90% {
    -webkit-filter: none;
    -webkit-transform: translateY(-10px); }

  100% {
    -webkit-filter: none;
    -webkit-transform: translateY(0); } }
