<!DOCTYPE html>
<html>
<head>
  <title>园林植物资源应用数据库</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<nav class="navbar navbar-default " role="navigation">
  <h5>东北林业大学   园林学院</h5>
</nav>

</body>
</html>
